<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eduardo.tcc" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission android:protectionLevel="signature"
        android:name="com.example.eduardo.tcc.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.example.eduardo.tcc.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".Inicio.ParseApplication"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />

        <activity
            android:name=".CadastroUsuario.DadosUsuario"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".Inicio.Inicial"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Inicio.Login"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Avaliacao.FormularioAvaliacao"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Avaliacao.ResultadoAvaliacao"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Nutricionista.ClientesNutricionista"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Nutricionista.ListItemDetail"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Nutricionista.NovoAlimento"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Inicio.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    <service android:name="com.parse.PushService" />
    <receiver android:name="com.parse.ParseBroadcastReceiver">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            <action android:name="android.intent.action.USER_PRESENT" />
        </intent-filter>
    </receiver>

    <!--<receiver android:name="com.parse.ParsePushBroadcastReceiver"-->

    <receiver android:name="com.parse.GcmBroadcastReceiver"
        android:permission="com.google.android.c2dm.permission.SEND">
        <intent-filter>
            <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

            <!--
              IMPORTANT: Change "com.parse.starter" to match your app's package name.
            -->
            <category android:name="com.example.eduardo.tcc" />
        </intent-filter>
    </receiver>

    <receiver android:name="com.parse.ParsePushBroadcastReceiver"
        android:exported="false">
        <intent-filter>
            <action android:name="com.parse.push.intent.RECEIVE" />
            <action android:name="com.parse.push.intent.OPEN" />
            <action android:name="com.parse.push.intent.DELETE" />
        </intent-filter>
    </receiver>

    <!--<receiver android:name="com.parse.ParsePushBroadcastReceiver"-->
        <!--android:exported="false">-->
        <!--<intent-filter>-->
            <!--<action android:name="com.parse.push.intent.RECEIVE" />-->
            <!--<action android:name="com.parse.push.intent.DELETE" />-->
            <!--<action android:name="com.parse.push.intent.OPEN" />-->
        <!--</intent-filter>-->
    <!--</receiver>-->

    <meta-data android:name="com.parse.push.notification_icon" android:resource="@drawable/ic_launcher"/>

    </application>

</manifest>
